.home{
    display: flex;
    justify-content: space-between;
   
    margin-top: 30px;
}

.home-right{
    margin: auto;
}

.home-left>img{
    height:90% ;
}

.btn{
    background-color: lightsalmon;
}